In [18]:
import pandas as pd
from collections import OrderedDict
from matplotlib import pyplot as plt

In [12]:
PAST_TIME_RANGE = 24  # use 24 past timeframe
FUTURE_TIME_RANGE = 6  # predict 6 timeframe

In [7]:
data = pd.read_csv("wikipedia.csv", index_col="timestamp")

In [9]:
data.head()

                        views
timestamp
2016-01-01 00:00:00  0.617284
2016-01-01 01:00:00  0.041002
2016-01-01 02:00:00 -0.581760
2016-01-01 03:00:00 -1.025069
2016-01-01 04:00:00 -1.291514

In [28]:
df = OrderedDict()
for i in range(PAST_TIME_RANGE):
    col_name = "T-{}".format(i)
    series = data.views.shift(i)
    df[col_name] = series
for i in range(1,FUTURE_TIME_RANGE+1):
    col_name = "T+{}".format(i)
    series = data.views.shift(-i)
    df[col_name] = series
data_set = pd.DataFrame(df, index=data.index).dropna()
data_set.head()

,T-0,T-1,T-2,T-3,T-4,T-5,T-6,T-7,T-8,T-9,...,T-20,T-21,T-22,T-23,T+1,T+2,T+3,T+4,T+5,T+6
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-01-01 23:00:00,0.898701,2.292393,3.798601,3.302904,1.769037,2.001836,1.445126,1.372633,1.309160,1.565804,...,-1.025069,-0.581760,0.041002,0.617284,0.113880,-0.547334,-0.905009,-1.132992,-1.258555,-1.311624
2016-01-02 00:00:00,0.113880,0.898701,2.292393,3.798601,3.302904,1.769037,2.001836,1.445126,1.372633,1.309160,...,-1.291514,-1.025069,-0.581760,0.041002,-0.547334,-0.905009,-1.132992,-1.258555,-1.311624,-1.219801
2016-01-02 01:00:00,-0.547334,0.113880,0.898701,2.292393,3.798601,3.302904,1.769037,2.001836,1.445126,1.372633,...,-1.395559,-1.291514,-1.025069,-0.581760,-0.905009,-1.132992,-1.258555,-1.311624,-1.219801,-0.935167
2016-01-02 02:00:00,-0.905009,-0.547334,0.113880,0.898701,2.292393,3.798601,3.302904,1.769037,2.001836,1.445126,...,-1.380255,-1.395559,-1.291514,-1.025069,-1.132992,-1.258555,-1.311624,-1.219801,-0.935167,-0.475324
2016-01-02 03:00:00,-1.132992,-0.905009,-0.547334,0.113880,0.898701,2.292393,3.798601,3.302904,1.769037,2.001836,...,-1.233514,-1.380255,-1.395559,-1.291514,-1.258555,-1.311624,-1.219801,-0.935167,-0.475324,-0.013263

In [29]:
X = data_set[[c for c in data_set.columns if "-" in c]]
Y = data_set[[c for c in data_set.columns if "+" in c]]
X.shape, Y.shape

((4971, 24), (4971, 6))

In [31]:
limit_train_test = round(0.75 * len(X))
x_train, x_test = X[:limit_train_test], X[limit_train_test:]
y_train, y_test = Y[:limit_train_test], Y[limit_train_test:]
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((3728, 24), (1243, 24), (3728, 6), (1243, 6))